doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Нечетный Четверг
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:400,300&subset=latin,cyrillic')
    link(rel='stylesheet', href='styles/main.css')
  body
    .page
      header.page-header
        h1.title 
          img(src='/images/logo.svg', alt='Нечетный четверг')
        .slogan Регулярные встречи разработчиков в Ростове-на-Дону
      article
        section
          p
            | Каждый второй четверг, вечером после работы мы собираемся в уютном пабе, чтобы поговорить о разработке, верстке, языках программирования и вообще всем, что может быть интересным. У нас нет проектора и регламента — мы пропускаем всеми формальности с докладами и выступлениями, переходя непосредственно к самому главному.
          p
            | Приходите и приносите свои вопросы и свои рассказы в четверг, <em>20 ноября в 20:00</em> в Буковски.
        section.hero
          header
            h3 Печа-куча
          p
            | Одну из ближайших встреч мы хотим провести в формате #[a(href='https://ru.wikipedia.org/wiki/Печа-куча') Печа-кучи]. Печа-куча — это особый метод выступлений, в котором рассказчик представляет свою историю в виде 20 слайдов, каждый из которых демонстрируется на экране ровно 20 секунд — ни больше, ни меньше. Таким образом, каждое выступление длится ровно 6 минут и 40 секунд.
            | Вы можете увидеть, что это такое, посмотрев записи выступлений московских #[a(href='https://www.youtube.com/user/pechakuchanightmsk') PechaKuchaNight].
          p
            | Мы ищем рассказчиков! Если вы хотите попробовать выступить в таком формате, рассказать о своем опыте, истории, или же поделиться проблемой и спросить совета о ее решении, приходите, мы будем рады вас послушать!
          footer
            a.button(href='http://ya.ru') Хочу участвовать!
        section
          header
            h3 Просто придти?
          p
            | Очень просто. Но перед этим вам нужно зайти в 
            a(href='http://it61.herokuapp.com/') Slack
            |  Ростовского IT-сообщества и в комнате 
            a(href='https://it61.slack.com/messages/sabantuy/') #sabantuy
            |  ясно произнести «Мартин, я иду!».
        section
          header
            h3 Участники
          .guests
            each guest, index in guests
              .guest
                - var id = "guest-" + (index + 1)
                label(for="#{id}")
                input(id=id, type='checkbox')
                img.guest-photo(src='#{guest.photo}')
                .guest-name
                  | #{guest.name}
                .guest-title
                  | #{guest.title}
    include metrika.html
        
